.cursor{
    cursor: pointer;
}
.f-29{
    font-size: 20px;
}
.no-click {
    pointer-events: none;
}
.f-17{
    font-size: 17px !important;
}

img{
    border-radius: 2px !important;
}
.text-blue{
    color: #0da9ef !important;
}
.badge.badge-blue {
    background-color: #0da9ef;
    color: white;
}

.f-15{
    font-size: 15px !important;
}

.f-13{
    font-size: 13px !important;
}

.cart-item-image{
    width: 90px;
    height: 70px;
}

.invalid-feedback{
    display: block !important;
}

.invalid{
    color: rgba(220,53,69,0.9);
    background-color: white;
    margin-top: -15px !important;
    margin-left: -10px !important;
    padding-top: 0 !important;
    margin-bottom: 14px !important;
}

div.order-details h6{

    font-weight: 200;
    margin: 0;
    padding-bottom: 5px;
    font-size: 13px;
}

.cont{

    font-weight: 400;

    font-size: 15px;
}

.disabled{
    /*cursor: none !important;*/
    color: currentColor;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.cursor_hover:hover{

    /*opacity: 0.8;*/
    background-color: #f5f5f5;
    color: #212529;
    /*border: 1px solid green;*/
    /*border-radius: 4px;*/
}

.underline{
    text-decoration: underline !important;
}

.widget-light-skin.widget-categories ul>li>a:hover, .widget-light-skin.widget-links ul>li>a:hover{

    color: white !important;
    opacity: 0.7 !important;

}

.widget-categories ul>li.active>a, .widget-links ul>li.active>a {
    color: #232B35;
    font-weight: bold;
}
